// config.js

// expose our config directly to our application using module.exports
module.exports = {
	// Hostname of web service
	'host' : 'example.com',
	// IP of web facing interface where this host ends up, e.g. after firewalls and nats etc. 
	'ip' : '192.168.1.10',
	'googleAuth' : {
		'clientID' 	: 'google-client-id',
		'clientSecret' 	: 'google-client-secret',
	}
};
