
<p><a href="http://openrefine.org">OpenRefine</a> (ex-Google Refine) is a powerful tool for working with messy data, cleaning it, transforming it from one format into another, extending it with web services, and linking it to databases like Freebase.</p>

<p>OpenRefine is designed to run locally on your own computer, however in some cases this may not be possible. This is where the OpenRefine Web Service (WS) can help.</p>

<p>In order to use OpenRefine securely, you will be required to login using a Google account. Once you are logged in, an instance of OpenRefine will be created a linked specifically to you. Once you are finished working you should keep this page open in order to shut down your instance to protect and save your data. You can come back later and log in again to continue processing your data.</p>

<p>To begin using this service please <a href="/auth/google">Login using Google</a>.</p>

<p>The video below introduces OpenRefine and will help you get started with cleaning your data.</p>

<div align="center">

<iframe width="500" height="400" src="http://www.youtube.com/embed/B70J_H_zAWM" frameborder="0" allowfullscreen></iframe>

</div>
